{{define "view/queries/count-per-time"}}

<div id="counter-queries-per-time">

<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
				<div class="panel-heading">
						За последнюю минуту (rps)
				</div>
				<div class="panel-body">
						<div class="flot-chart">
								<div class="flot-chart-content" id="counter-queries-per-sec"></div>
						</div>
				</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
				<div class="panel-heading">
						За последний час (rp min)
				</div>
				<div class="panel-body">
						<div class="flot-chart">
								<div class="flot-chart-content" id="counter-queries-per-min"></div>
						</div>
				</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
				<div class="panel-heading">
						Последние 24 часа (rph)
				</div>
				<div class="panel-body">
						<div class="flot-chart">
								<div class="flot-chart-content" id="counter-queries-per-hour"></div>
						</div>
				</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
				<div class="panel-heading">
						Последние 30 дней (rp day)
				</div>
				<div class="panel-body">
						<div class="flot-chart">
								<div class="flot-chart-content" id="counter-queries-per-day"></div>
						</div>
				</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {

	$.plot($("#counter-queries-per-sec"),[{ data: {{ plot .countPerTime.PerSec }} }], {
		  xaxis: {
				mode: "time",
				timeformat: "%H:%M:%S",
		  },
			yaxis: {
					min: 0
			}
	});

	$.plot($("#counter-queries-per-min"),[{ data: {{ plot .countPerTime.PerMin }} }], {
		  xaxis: {
				mode: "time",
				timeformat: "%H:%M:%S",
		  },
			yaxis: {
					min: 0
			}
	});

	$.plot($("#counter-queries-per-hour"),[{ data: {{ plot .countPerTime.PerHour }} }], {
		  xaxis: {
				mode: "time",
				timeformat: "%H:%M",
		  },
			yaxis: {
					min: 0
			}
	});

	$.plot($("#counter-queries-per-day"),[{ data: {{ plot .countPerTime.PerDay }} }], {
		  xaxis: {
				mode: "time",
				timeformat: "%d.%m.%Y",
		  },
			yaxis: {
					min: 0
			}
	});
});

$(function() {
	setTimeout(function() {
		$.get('/counter-queries-per-time', function(data) {
			$('#counter-queries-per-time').replaceWith(data)
		})
	}, 1000)
})

</script>

</div>

{{end}}
