{{define "view/queries/top-by-count"}}

<ul class="nav nav-pills">
	<li role="presentation"><a href="/all-queries"><i class="glyphicon glyphicon-list-alt fa-fw"></i> Запросы</a></li>
	<li role="presentation"><a href="/top-by-avg"><i class="glyphicon glyphicon-time fa-fw"></i> Топ по времени выполнения</a></li>
	<li role="presentation" class="active"><a href="/top-by-count"><i class="fa fa-bar-chart-o fa-fw"></i> Топ по частоте выполнения</a></li>
</ul>

<br>

<table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
	<thead>
		<tr>
			<th>From</th>
			<th>To</th>
			<th>Count</th>
			<th>Query</th>
		</tr>
	</thead>
	<tbody>
		{{ range $key, $query := .queries }}
		<tr>
			<td>{{$query.From}}</td>
			<td>{{$query.To}}</td>
			<td>{{$query.Count}}</td>
			<td>{{$query.Query}}</td>
		</tr>
		{{ end }}
	</tbody>
</table>


{{end}}
